header {
  border: 1px solid #333;
}

.PDLtitle {
  font-weight: bold;
  font-size: 80px;
  color: #c5b90c;
}

body .headImg {
  background-image: no-repeat;
  position: fixed;
  width: 50%;
  opacity: 0.2;
  height: auto;
  top: 50%;
  left: 50%;
}

* {
  box-sizing: border-box;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* Text overlay on images texts */
* {
  box-sizing: border-box;
}

/* Container needed to position the overlay. Adjust the width as needed */
.column {
  position: relative;
  width: 33.3%;
  max-width: 33.3%;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.picOverlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.column:hover .picOverlay {
  opacity: 1;
}
