header {
  border: 1px solid #333;
}

.PDLtitle {
  font-weight: bold;
  font-size: 80px;
  color: #c5b90c;
}

body .headImg {
  background-image: no-repeat;
  position: fixed;
  width: 50%;
  opacity: 0.2;
  height: auto;
  top: 50%;
  left: 50%;
}

/* Three columns side by side */
.columnPic {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .columnPic {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
}

/* Some left and right padding inside the container */
.aboutContainer {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Clear floats */
.aboutContainer::after,
.aboutRow::after {
  content: "";
  clear: both;
  display: table;
}

.aboutTitle {
  color: grey;
}

.aboutButton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.aboutButton:hover {
  background-color: #555;
}
