.PDLtitle {
  font-weight: bold;
  font-size: 80px;
  color: #c5b90c;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  font-size: 16px;
  color: #641c1c;
  padding: 15px;
}

/* Full-width inputs */
input[type="select"],
input[type="text"],
input[type="lastname"],
input[type="phnumber"],
input[type="email"],
input[type="subject"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
